.header {
  background: #fff;
  padding: 0;
  position: relative;
  width: 100%;
}

.container-next-prev-pokemon {
  width: 100%;
  display: flex;
  padding: 40px 0;
}

#previous,
#next {
  position: relative;
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 25px 0 50px;
  background-color: gray;
  margin: 30px 0 60px;
  text-decoration: none;
  list-style: none;
  color: white;
}

#previous {
  margin-right: 5px;
}

.pokemon-title {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.pokemon-title {
  width: 100%;
  padding: 40px 0 0;
  background-color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  color: #212121;
  font-size: 2.75em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pokemon-title h2 {
  font-size: 1em;
}

.pokemon-title span {
  font-size: 30px;
}

.section-select {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

#select-form {
  background-color: #313131;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1em;
  font-family: "Roboto", arial, sans-serif;
  line-height: 1.5;
  padding: 0.5em 0;
  text-indent: 0.5em;
  width: 300px;
}

.pokemon-img {
  width: 100%;
  max-width: 600px;
  background-color: rgb(229 229 229 / 78%);
  border-radius: 15px;
}

.column-left {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.pokemons-stats-info {
  width: 100%;
}

#section-pokemon-details {
  display: flex;
  flex-direction: column;
  padding: 10%;
}

.pokemon-stats-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(164, 164, 164);
  width: 100%;
  padding: 15px 0 0;
  color: #212121;
  border-radius: 10px;
}

.pokemon-stats-info h3 {
  width: 90%;
  text-align: left;
}

#stats-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 5px;
}

li.first {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
}

.gauge {
  position: relative;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.gauge li {
  height: 10px;
}

.gauge .filled {
  background-color: #3b82f6;
}

.gauge .empty {
  background-color: #e5e5e5;
}

.stats-span {
  display: block;
  text-align: center;
  margin-top: 5px;
  font-size: 9px;
  max-width: 40px;
}

.description {
  padding: 10px 0 30px;
  text-align: center;
}

.description-container {
  background-color: #3b82f6;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: white;
}

.description-ul-1,
.description-ul-2 {
  display: flex;
  align-items: center;
  padding: 15px 0;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.description-container ul {
  margin: 0;
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description-container li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 10px;
  transition: background-color 0.3s;
}

.description-container li:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.attribute-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.pokemon-attributes {
  padding: 40px 0;
}

#container-types,
#container-weaknesses {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 10px;
  padding: 15px 0;
}

#container-types span,
#container-weaknesses span {
  padding: 5px 30px;
  border-radius: 8px;
  color: white;
}

#container-evolutions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.evolution {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #212121;
  color: white;
  padding: 20px 0 30px;
  width: 100%;
}

.evolution:nth-child(3) {
  border-radius: 0 0 15px 15px;
}

.evolution:nth-child(1) {
  border-radius: 15px 15px 0 0;
}

.evolution-img {
  width: 150px;
  text-align: left;
}

.evolution h4 {
  margin: 0;
}

.container-more {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

#explore-more-button {
  background-color: rgb(33, 33, 33);
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.evolution-types {
  display: flex;
  gap: 5px;
}

.evolution-types span {
  padding: 3px 5px;
  border-radius: 5px;
}

@media (min-width: 768px) {
  body {
    padding: 0 10%;
  }
}

@media (min-width: 1024px) {
  #section-pokemon-details {
    flex-direction: row;
    padding: 30px 0;
    gap: 40px;
    justify-content: center;
  }

  .description-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .description-container li {
    flex-direction: row;
    gap: 30px;
  }

  .description-container ul {
    width: 100%;
  }

  .description-container li span {
    width: 100%;
  }

  #stats-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 15px;
  }
  .gauge li {
    height: 15px;
  }

  .gauge {
    position: relative;
    width: 94%;
    height: 312px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    list-style: none;
    padding: 0;
  }

  li.first {
    position: relative;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
  }

  #container-evolutions {
    justify-content: space-between;
    flex-direction: row;
  }

  .container-more {
    justify-content: right;
  }

  .container-evolutions {
    justify-content: center;
    gap: 0;
  }

  .pokemon-attributes {
    padding: 40px 0 25px;
  }

  .evolution {
    padding: 15px;
  }

  .evolution-img {
    width: 80px;
  }

  .evolution:nth-child(1) {
    border-radius: 15px 0 0 15px;
  }

  .evolution:nth-child(3) {
    border-radius: 0 15px 15px 0;
  }
}
