.header {
  background: #fff;
  padding: 0;
  position: relative;
  max-width: 1280px;
  width: 100%;
}

.container-next-prev-pokemon {
  width: 100%;
  display: flex;
  padding: 40px 0;
}

.previous,
.next {
  position: relative;
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 50px 0;
  background-color: gray;
  margin: 30px 0 60px;
  text-decoration: none;
  list-style: none;
  color: white;
}

.previous {
  margin-right: 5px;
}

.pokemon-title {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.pokemon-title {
  width: 100%;
  padding: 40px 0 0;
  background-color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  color: #212121;
  font-size: 2.75em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pokemon-title h2 {
  font-size: 1em;
}

.pokemon-title span {
  font-size: 30px;
}

.section-select{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

#select-form {
  background-color: #313131;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1em;
  font-family: "Roboto", arial, sans-serif;
  line-height: 1.5;
  padding: 0.5em 0;
  text-indent: 0.5em;
  width: 300px;
}

#section-pokemon-details {
  
}
