.header {
  background: #fff;
  padding: 0;
  position: relative;
  max-width: 1280px;
  width: 100%;
}

.container-next-prev-pokemon {
  width: 100%;
  display: flex;
  padding: 40px 0;
}

#previous,
#next {
  position: relative;
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 50px 0;
  background-color: gray;
  margin: 30px 0 60px;
  text-decoration: none;
  list-style: none;
  color: white;
}

#previous {
  margin-right: 5px;
}

.pokemon-title {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.pokemon-title {
  width: 100%;
  padding: 40px 0 0;
  background-color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  color: #212121;
  font-size: 2.75em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pokemon-title h2 {
  font-size: 1em;
}

.pokemon-title span {
  font-size: 30px;
}

.section-select {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

#select-form {
  background-color: #313131;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1em;
  font-family: "Roboto", arial, sans-serif;
  line-height: 1.5;
  padding: 0.5em 0;
  text-indent: 0.5em;
  width: 300px;
}

.pokemon-img {
  width: 100%;
  max-width: 600px;
  background-color: rgb(229 229 229 / 78%);
  border-radius: 15px;
}

.column-left {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.pokemons-stats-info {
  width: 100%;
}

#section-pokemon-details {
  display: flex;
  flex-direction: column;
  padding: 10%;
}

.pokemon-stats-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(164, 164, 164);
  width: 100%;
  padding: 15px 0 0;
  color: #212121;
  border-radius: 10px;
}

.pokemon-stats-info h3 {
  width: 90%;
  text-align: left;
}

#stats-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 10px;
}

li.first {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
}

.gauge {
  position: relative;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.gauge li {
  height: 10px;
}

.gauge .filled {
  background-color: #3b82f6;
}

.gauge .empty {
  background-color: #e5e5e5;
}

span {
  display: block;
  text-align: center;
  margin-top: 5px;
  font-size: 9px;
  max-width: 40px;
}
